## Introduction

## Setup

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

## Data

In [2]:
us_house_data = pd.read_parquet('../usa-house-csv/us_houses_data_lats_longs.parquet')
us_shape_file = gpd.read_file('../usa-states-shapefile/cb_2018_us_state_500k.shp')

### Parquet File

In [4]:
us_house_data.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date,lats,longs
0,for_sale,95000.0,6.0,2.0,0.11,"15 Calle Santa Rosa De Lima, Hormigueros, PR, ...",15 Calle Santa Rosa De Lima,Hormigueros,Puerto Rico,660.0,2914.0,None,18.132469,-67.113919
1,for_sale,335000.0,3.0,2.0,10.00,"229 River Rd, Whately, MA, 01093",229 River Rd,Whately,Massachusetts,1093.0,1277.0,None,42.436948,-72.641517
2,for_sale,324900.0,4.0,3.0,2.00,"13 Rockwell Rd, Stafford, CT, 06076",13 Rockwell Rd,Stafford,Connecticut,6076.0,1332.0,2004-02-27,52.806316,-2.116382
3,for_sale,55000.0,NaN,NaN,8.00,"Westerly Side Southampton Rd, Westfield, MA, 0...",Westerly Side Southampton Rd,Westfield,Massachusetts,1085.0,NaN,None,42.139033,-72.758486
4,for_sale,49900.0,NaN,NaN,1.42,"205 Upper Church St Lot 3, Ware, MA, 01082",205 Upper Church St Lot 3,Ware,Massachusetts,1082.0,NaN,None,31.172723,-82.482934

### Shapefile

In [3]:
us_shape_file.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,28,01779790,0400000US28,28,MS,Mississippi,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ..."
1,37,01027616,0400000US37,37,NC,North Carolina,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ..."
2,40,01102857,0400000US40,40,OK,Oklahoma,00,177662925723,3374587997,"POLYGON ((-103.00257 36.52659, -103.00219 36.6..."
3,51,01779803,0400000US51,51,VA,Virginia,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ..."
4,54,01779805,0400000US54,54,WV,West Virginia,00,62266474513,489028543,"POLYGON ((-82.64320 38.16909, -82.64300 38.169..."